<!doctype html>
<html lang="en">


<body>
    <!-- adding a wrapper class so we can make all the information fit in the page -->
    <div class="wrapper">
        <!-- setting up the navbar so the users can access the different parts of the website -->
        <nav class="navbar">
            <!-- added a picure in the nav bar to make it look more better -->
        <img src="/assets/image/Kapi.png" width="100px" height="100px">
                
            </div>
            

            </nav>
            <!-- adding a wrapper class so we can make all the information fit in the page -->
            <div class="wrapper">

        
        



    <main>
        <!-- here I have added a title and discription so it will catch the users eyes -->
        <h3>This is the About Me Page</h3>
        <p>Hello! My name is Kapiraj Sivakumar, and I’m 20 years old. I’m currently a third-year student pursuing a degree in Business Technology Management, specializing in network and IT. Alongside my studies, I have a strong passion for working with various coding languages, cloud servers, and networking technologies. I’m also deeply involved in the automotive field, where I not only perform general repairs but also engage in custom projects. In addition to my academic and automotive pursuits, I serve as the Aquatics Team Lead at the YMCA, where I enjoy leading and mentoring others.</p>
        
        <!-- I have image of me to show users who I am as this websites about me -->
        <img class="me" src="/assets/image/picture_of_KapirajSivakumar.png">
        <!-- I have added a video about me and I have inputted it as a MP4 file -->
        <video class="video" controls src="/assets/image/kapi video.mp4" width="500">

    

 
    </div> 

    </main>
   


    
</body>
</html>




