<article>
    <h3>Introduction</h3>
    <p>Hello! My name is Kapiraj Sivakumar, and I’m 20 years old. I’m currently a third-year student pursuing a degree in Business Technology Management, specializing in network and IT. Alongside my studies, I have a strong passion for working with various coding languages, cloud servers, and networking technologies. I’m also deeply involved in the automotive field, where I not only perform general repairs but also engage in custom projects. In addition to my academic and automotive pursuits, I serve as the Aquatics Team Lead at the YMCA, where I enjoy leading and mentoring others.</p>









