<!doctype html>
<html lang="en">

</head>
<body>
    <!-- adding a wrapper class so we can make all the information fit in the page -->
    <div class="wrapper">
    
        <!-- setting up the navbar so the users can access the different parts of the website --> 
    <nav class="navbar"> 
        
    <img src="/assets/image/Kapi.png" width="100px" height="100px">
    <!-- added a picure in the nav bar to make it look more better -->

    </nav>
    <!-- adding a wrapper class so we can make all the information fit in the page -->
    <div class="wrapper">


    <main>
        <!-- adding a wrapper class so we can make all the information fit in the page -->
        <div class="wrapper">

        <!-- added title and discription to catch the users interest -->
        <h3>Welecome to the Home Page</h3>
        <p>Hello everyone, and welcome to my website! Here, you can learn more about me and explore the various projects I’ve worked on. Use the navigation bar to easily browse through different sections. Feel free to reach out if you have any questions or concerns
    
    
    </div>
     <!-- added a picute if myself -->
    <img class="me" src="/assets/image/picture_of_KapirajSivakumar.png">
    </main>
    
    


</body>
</html>