<!doctype html>
<html lang="en">

</head>
<body> <!-- adding a wrapper class so we can make all the information fit in the page -->
    <div class="wrapper">
    
     <!-- setting up the navbar so the users can access the different parts of the website -->
    <nav class="navbar"> 
    <!-- added a picure in the nav bar to make it look more better -->
    <img src="/assets/image/Kapi.png" width="100px" height="100px"-->


    </div>
    

    </nav>
    <!-- adding a wrapper class so we can make all the information fit in the page -->
    <div class="wrapper">


        <main>
            <!-- added a title and discription for the page to catch the eye of users -->
            <h3> Project Page</h3>
            <p>Welcome to my project page! Here, you can explore some of the recent projects I’ve completed during my studies in Business Technology Management  IT and Network Security. Swipe through to see the work I've done.
    
        </main>
    </div>
    <!-- here I have entered picures of project I have done and I have made an sliding feature so users swip through the projects it will look more appealing -->
    <section class="container">
        <div class="slider-wrapper">
        <div class="slider">
            <img id="slider-1" src="/assets/image/DSA Project.png" />
            <img id="slider-2" src="/assets/image/OPP Game.png" />
            <img id="slider-3" src="/assets/image/cache.png"/>
            
    
        </div>
        <!-- here is more fuctions to make the sliders work -->
        <div class="slider-nav">
            <a href="slide-1"></a>
            <a href="slide-2"></a>
            <a href="slide-3"></a>
        </div>
    
    </section>
    <!-- this is the foot and over here i have added a hyper link to users and easy send me emails -->
    
    


</body>

</html>

